@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application demonstrates basic ASP.NET Core 2.0 MVC, Razor Views, and
creating SQL database connections through Visual Studio's scaffolding features.
The main page for this web application can be accessed by pointing directly
to the server (the Home controller's Index action redirects to the Movies
controller's Index action) or clicking the "Movie Library" link in the navigation
bar above.</p>
