@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Movie Library was developed by Joshua Taylor</h4>

<address>
    <strong>Email:</strong> <a href="mailto:taylor.joshua88@gmail.com">taylor.joshua88@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/taylorjoshua88">https://github.com/taylorjoshua88</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/Jupiter_Nebula">&#64;Jupiter_Nebula</a>
</address>
